.profile__name-button {
  width: 24px;
  height: 24px;
  border: 1px white solid;
  border-radius: 2px;
  background: url(../../../images/name-marker.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

@media screen and (max-width: 700px) {
  .profile__name-button {
    width: 18px;
    height: 18px;
    align-self: center;
    margin-left: 10px;
  }
}

.profile__name-button:hover {
  opacity: 0.6;
  transition: 200ms;
  cursor: pointer;
}