.profile-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  box-sizing: border-box;
  padding: 36px;
  border-radius: 10px;
  background-color: #ffffff;
}

@media screen and (max-width: 620px) {
  .profile-form {
    width: 238px;
    padding: 25px 22px;
    box-sizing: initial;
  }
}