.header {
  width: calc(100% - 400px);
  margin: auto;
  padding: 45px 0 40px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  &__logo {
    width: 142px;
    height: 33px;
    background: url(../images/mesto-logo.svg) no-repeat center;
    background-size: contain;
  }

  @media screen and (max-width: 1220px) {
    width: 100%;
    padding: 28px 0 31px 0;

    &__logo {
      width: 103px;
      height: 24px;
      margin: 0 0 0 27px;
    }
  }
}
