.profile__text-container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 16px 18px;
  padding-left: 30px;
  align-items: flex-end;
}

@media screen and (max-width: 700px) {
  .profile__text-container {
    padding-bottom: 36px;
    gap: 0px;
  }
}