.footer {
  width: calc(100% - 400px);
  margin: auto;
  height: 18px;
  padding-top: 66px;
}

@media screen and (max-width: 1220px) {
  .footer {
    width: calc(100% - 38px);
    height: 16px;
    padding-top: 48px;
  }
}