.element {
  margin: auto;
  min-width: 282px;
  min-height: 361px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  display: grid; 
  position: relative;
  grid-template:  min-content 1fr / 240px 1fr; 
  align-items: center;
}
