.element__trash-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: url(../../../images/Trash.svg);
  width: 18px;
  height: 19px;
  cursor: pointer;
}

.element__trash-btn:hover {
  background: url(../../../images/Trashhover.svg);
  transition: 100ms;
}

.element__trash-btn-hidden {
  display: none;
}